.main {
   margin: 20px;
}

@media(max-width:1000px){
   .main {
      width: 1000px;
   }
}

.main_text {
   text-align: center;
   font-size: 40px;
   margin-top: 60px;
   font-weight: bold;
}

.search {
   text-align: center;
   
}

.title {
   font-size: 17px;
   font-weight: bold;
}

.searchTitle {
   border-bottom: 1px solid black;
   padding-bottom: 10px;
   padding-left: 10px;
}

.description {
   font-size: small;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   color: rgb(92, 92, 92);
}
.description:hover {
   color: black;
   text-decoration: underline;
}
.kategorie {
   font-size: 11px;
   color: rgb(184, 184, 184);
}
.edit {
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 4px;
   font-size: 14px;
   margin-left: 10px;
   padding-left: 7px;
   padding-right: 7px;
}
.list {
   margin-left: 17%;
   margin-right: 17%;
}
