.main {
   margin: 0px;
}
@media(max-width:1000px){
   .main {
      width: 1000px;
   }
   .head {
      width: 1000px;

   }
}

.title{
   margin-top: 90px;
   font-size: 55px;
   text-align: center;
   margin-bottom: 40px;
}
.kategorie{
   display: flex;
   border: 1px solid black;
   margin: 10px;
   padding: 6px;
   border-radius: 10px;
   font-size: 12px;
   margin-bottom: 30px;
}
.update{
   text-align: right;
   margin-left: auto;
   padding-right: 10px;
   color: rgb(36, 36, 36);
}
.description{
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   white-space: pre-wrap;
   word-wrap: break-word;
}
