.main {
   margin: 0;
}

.head {
   position: fixed;
   width: 100%;
   top: 0%;
}

@media(max-width:1000px){
   .main {
      width: 1000px;
   }
   .head {
      width: 1000px;

   }
}

.top_list {
   width: 75%;
   border-right: 1px solid rgb(171, 171, 171);
   margin-left: 5%;
}

.list1 {
   /* border: 1px black solid; */
   padding: 15px;
   margin-top: 10px;
   margin-right: 10px;
}

.smallTitle {
   border-bottom: 1px solid rgb(191, 191, 191);
   padding-bottom: 6px;
}

.kategorie {
   width: 25%;
   padding-left: 20px;
   margin-right: 5%;
   color: rgb(84, 84, 84);
}

.kategorieList {
   border: 1px solid rgb(159, 159, 159);
   border-radius: 3px;
   padding: 24px;
   margin: 15px;
   color: rgb(74, 74, 74);
}
.kategorieList li:hover{
   color: rgb(0, 0, 0);
   text-decoration: underline;
}

.border1 {
   border-top: 1px solid rgb(134, 134, 134);
   border-bottom: 1px solid rgb(153, 153, 153);
   color: rgb(104, 104, 104);
}


.addWriting {
   display: flex;
   border: 1px solid;
   margin: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   justify-content: center;

}